## -*- coding: utf-8 -*-
<%namespace name="base_helper" file="base_helper.tmpl" />
${set_locale(lang)}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="${lang}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="${lang}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="${lang}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="${lang}"> <!--<![endif]-->

<head>
    ${base_helper.html_head()}
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>

  <%block name="header">${base_helper.header()}</%block>
  <%block name="content_block">

        <div class="container">
            <div class="row">
                <div class="span8 pull-right">
                    <div id="main">
                        <%block name="content"></%block>
                    </div>
                </div>

                <div class="span4 pull-left">
                    <div id="sidebar">
                        <img src="/assets/images/rachel.jpeg" alt="Rachel Sanders" />
                        <p id="headline">I'm a staff software engineer at LinkedIn, co-founder of <a href="http://www.meetup.com/PyLadiesSF/">SF PyLadies</a>, and <a href="http://www.flickr.com/photos/nasahqphoto/7721165576/">#MSL NASA Tweetup</a> alum. 
                        Opinions here are my own.</p>
                        
                        <ul class="unstyled">

                            <li id="social-media">
                                <h3>Find Me On</h3>
                                <ul class="unstyled inline">
                                    <li class="twitter">
                                        <a href="http://twitter.com/trustrachel">Twitter</a>
                                    </li>
                                    <li class="fb">
                                        <a href="">Facebook</a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="http://linkedin.com/in/rachelasanders">LinkedIn</a>
                                    </li>
                                </ul>
                            </li>

                            %if recent_posts:
                            <li class="articles">
                                <h3>Recent Posts</h3>
                                <ul class="unstyled">
                                    %for post in recent_posts:
                                    <li>
                                        <a href="${post.permalink()}"">${post.title()}</a>
                                    </li>
                                    %endfor
                                </ul>
                            </li>
                            %endif 

                            %if popular_tags:
                            <li class="articles">
                                <h3>Post Categories</h3>
                                <ul class="unstyled">
                                    %for tag, link in popular_tags:
                                    <li>
                                        <a href="${link}">${tag}</a>
                                    </li>
                                    %endfor 
                                </ul>
                            </li>
                            %endif

                            %if recent_months:
                            <li class="articles">
                                <h3>Posts by Date</h3>
                                <ul class="unstyled">
                                    %for month, link in recent_months:
                                    <li>
                                        <a href="${link}">${month}</a>
                                    </li>
                                     %endfor
                                </ul>
                            </li>
                            %endif 

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            <div class="span8 pull-right">${content_footer}</div>
            </div>
        </div>
  </%block>
      ${base_helper.late_load_js()}
       ${analytics}
</body>
</html>
